html {
  background: #95A5A7;
  font-family: monospace;
  height: 100%;
}

main {
  margin: 3vmin 5vmin;
  text-align: center;
}

h1 {
  margin-bottom: 5vmin; 
}

table {
  display: inline-block;
  margin: 0 auto;
}

.poem {
  min-width: 19vmin;
  min-height: 19vmin;
  margin: 1vmin 4vmin;
}


/** media queries **/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/** end media queries **/


/** neumorphic styles **/

.clicked {
  background: #95A5A7;
  border-radius: 15%;
  box-shadow: inset 9.91px 9.91px 15px #889698, inset -9.91px -9.91px 15px #A2B4B6;
}

.unclicked {
  background: linear-gradient(145deg, #7F8C8E, #ABBEC0);
  border-radius: 15%;
  box-shadow: 9.91px 9.91px 15px #889698, -9.91px -9.91px 15px #A2B4B6;
}

/* unused for now */
.hovered {
  background: #95A5A7;
  border-radius: 15%;
  box-shadow: 9.91px 9.91px 15px #889698, -9.91px -9.91px 15px #A2B4B6;
}

/** end neumorphic styles **/
